.wrapper {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 100%;
}

.img-banner {
  /* display: inline; */
  height: 100px;
}

.content.h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: black;
  line-height: 44px;
}
.content.p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: black;
}

.img-content {
  /* flex: ; */
  padding: 30px;
  width: 100%;
}
.content {
  display: flex;
  flex: 1;
}
@media only screen and (max-width: 768px) {
  .wrapper {
    justify-content: center;
  }
  .img-banner {
    display: none;
  }
  .img-content {
    width: 100%;
  }
  .tulisan {
    flex: 1;
  }
  .content.h2 {
    padding: 30px 30px 20px;
  }
  .content.p {
    padding: 30px 30px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
  }
  @media only screen and (max-width: 414px) {
    .wrapper {
      display: flex;
      flex-direction: row wrap;
      align-items: center;
      margin: 0 auto;
    }
    .content.h2 {
      padding: 30px 30px 20px;
    }
  }
}
